.login {
    position: fixed;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-image: url(../../assets/img/background/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.logo {
    width: 60.781vw;
    height: 22.130vh;
    opacity: 1;
    position: fixed;
    top: 9.352vh;
    left: 19.583vw;
}

.input-log,
.input-pass {
    position: fixed;
    width: 50.000vw;
    left: 25.000vw;
    color: #ffffff;
    border: none;
    outline: none;
    background-image: url('../../assets/img/input.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    color: #ffffff;
    height: 7.407vh;
    font-family: Metanart_Big;
    font-size: 1.667vh;
    padding: 0 0 0 2.083vw;
}


.p-log,
.p-pass {
    position: absolute;
    top: -6.481vh;
    left: 0.729vw;
    width: 8.594vw;
    height: 6.481vh;
    color: #ffffff;
    font-family: Metanart_Big;
    font-weight: 400;
    font-style: normal;
    font-size: 3.704vh;
    line-height: auto;
    letter-spacing: 0%;
    margin: 0;
    padding: 0.926vh 0.521vw;
    box-sizing: border-box;
}

.p-pass {
    width: 10.156vw;
}

.input-group {
    position: fixed;
    left: 25.000vw;
}

.login-group {
    top: 39.352vh;
}

.password-group {
    top: 54.630vh;
}

.login-buttons {
    position: fixed;
    top: 80.630vh;
}