.registration {
    position: fixed;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-image: url(../../assets/img/background/backgroung.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.logoReg {
    margin-top: -270px;
}

.registration-label {
    position: relative;
    color: white;
    font-family: Metanart_Big;
}

@font-face {
    font-family: 'metanart-big';
    src: url(../../assets/fonts/metanart-big.ttf) format('woff2');
    src: url(../../assets/fonts/metanart-big.ttf) format('woff');
    src: url(../../assets/fonts/metanart-big.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.registation-button {
    background-image: url(../../assets/img/registrationButton.svg);
    color: transparent;
    background-size: cover;
    border: 0;
    background-color: transparent;
    width: 184px;
    height: 45px;
    position: absolute;
    margin-top: 27.100vh;
    right: 43.758vw;
    transition: filter 0.1s ease;
}

.registation-button:hover {
    filter: brightness(2);
}


.haveAccount {
    background-image: url(../../assets/img/haveAccountButton.svg);
    background-size: cover;
    color: transparent;
    border: 0;
    background-color: transparent;
    width: 200px;
    height: 34px;
    position: absolute;
    margin-top: 33.200vh;
    right: 43.148vw;
    transition: filter 0.1s ease;
}

.haveAccount:hover {
    filter: brightness(2);
}


/*.input-login,
.input-password,
.input-nickname,
.input-certpassowrd {
    position: fixed;
    width: 5.000vw;
    left: 2.500vw;
    color: #ffffff;
    border: none;
    outline: none;
    background-image: url('../../assets/img/input.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    color: #ffffff;
    height: 7.407vh;
    font-family: Metanart_Big;
    font-size: 1.667vh;
}
*/